<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>fitness guru</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Wallpoet" rel="stylesheet">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="./scripts/handlebars-v4.0.10.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="./scripts/app.js"></script>


</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button id="log-in-btn" class="btn-success pull-right">Sign up</button>
        <button id="create-btn" class="btn-primary pull-right">Create</button>
    </nav>
    <header class="jumbotron">
        <div class="img"></div>
        <div class="container">
            <h1>Fitness Guru</h1>
            <p>Your guru for all things fitness</p>
        </div>
    </header>
    <!-- BEGIN FORM SAMPLE -->
    <div id="panel-body">
      <!-- BEGIN BUILTIN CONTENT -->
      <div id="built-in-content" style="display:none">
          <div class="row">
              <div class="col-md-10 col-md-offset-1">
                  <p>If you're trying to find an online guru to master your health, you're in the right place!</p>
              </div>
          </div>
      </div>
      <!-- END BUILTIN CONTENT -->

      <!-- LOG IN FORM START -->
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
                  <div class="col-md-9 col-xs-12" id="log-in-form" style="display:none">
                      <h2>Sign up</h2>
                      <form class="form-horizontal">
                          <div class="form-group">
                              <label class="control-label col-sm-2" for="id">ID:</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" name="id" placeholder="Enter ID">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="control-label col-sm-2" for="pwd">Password:</label>
                              <div class="col-sm-10">
                                  <input type="password" class="form-control" name="pwd" placeholder="Enter password">
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                  <div class="checkbox">
                                      <label><input type="checkbox"> Remember me</label>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                  <button type="submit" class="btn btn-default">Submit</button>
                              </div>
                          </div>
                      </form>
                  </div>
              <!-- LOG IN FORM END -->
                <!-- CREATE FORM START -->
                <div id="create-form-panel" style="display:none">
                    <h2>Create New Account</h2>
                    <form class="form-horizontal" id="create-form">
                        <div class="col-md-6 col-xs-12">
                          <div class="form-group">
                            <label class="control-label col-sm-3" for="name">Name:</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" name="name" placeholder="Enter name here!">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-sm-3" for="gender">Gender:</label>
                            <div class="row">
                                <div class="col-sm-4">
                                  <select class="form-control" name="gender">
                                    <option value="">gender</option>
                                    <option value="trans">transgender</option>
                                    <option value="female">female</option>
                                    <option value="male">male</option>
                                  </select>
                                </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-sm-3" for="id">User ID:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="id" placeholder="Enter ID">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-sm-3" for="pwd">Password:</label>
                            <div class="col-sm-9">
                              <input type="password" class="form-control" name="pwd" placeholder="Enter password">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-sm-3" for="pwd">Confirm Password:</label>
                            <div class="col-sm-9">
                              <input type="password" class="form-control" name="confirm-pwd" placeholder="Confirm password">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                          <div class="form-group">
                            <label class="control-label col-sm-3" for="height">Height:</label>
                            <div class="row">
                              <div class="col-sm-2">
                                <select class="form-control" name="feet">
                                  <option value="2">2ft</option>
                                  <option value="3">3ft</option>
                                  <option value="4">4ft</option>
                                  <option value="5" selected="selected">5ft</option>
                                  <option value="6">6ft</option>
                                  <option value="7">7ft</option>
                                  <option value="8">8ft</option>
                                </select>
                              </div>
                              <div class="col-sm-2">
                                <select class="form-control" name="inch">
                                  <option value="0">0"</option>
                                  <option value="1">1"</option>
                                  <option value="2">2"</option>
                                  <option value="3">3"</option>
                                  <option value="4">4"</option>
                                  <option value="5">5"</option>
                                  <option value="6">6"</option>
                                  <option value="7">7"</option>
                                  <option value="8" selected="selected">8"</option>
                                  <option value="9">9"</option>
                                  <option value="10">10"</option>
                                  <option value="11">11"</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-sm-3" for="weight">Weight:</label>
                            <div class="col-sm-9">
                              <input type="number" class="form-control" name="weight" placeholder="Enter weight in lb">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-sm-3" for="fitness-goal">Fitness Goal:</label>
                            <div class="row">
                              <div class="col-sm-5">
                                <select class="form-control" name="fitness-goal">
                                  <option value="s">Strength</option>
                                  <option value="b">Building</option>
                                  <option value="c" selected>Condition</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                              <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                          </div>
                      </div>
                    </form>
                </div>
            </div>
            <!-- CREATE FORM END -->
            <!-- Recommendation START -->
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div id="recommendation" style="display:">
                  <!-- first row -->
                  <div class="row" style="margin-top:10px">
                    <div class="col-md-6 col-xs-12">
                      <h1>Hello, Sherwin</h1>
                    </div>
                    <div class="col-md-6 col-xs-12">
                      <p style="display: inline-block">Current weight: 145lb</p>
                        <button class="btn-xs btn-default" type="button" style="display: inline-block">update </button>
                      <p>Fitness goal: </p>
                    </div>
                  </div>
                  <!-- second row -->
                  <div class="row" style="height: 350px; margin-top: 30px">
                    <div class="col-md-5 col-xs-12" style="background-color: yellow; height:350px;">
                      <h1>BMI Chart here</h1>
                    </div>
                    <div class="col-md-7 col-xs-12" style="background-color: skyblue; height:350px;">
                      <h1>Linear Weight chart here</h1>
                    </div>
                  </div>
                  <!-- third row -->
                  <div class="row" style="margin-top:40px">
                    <div class="col-md-4 col-xs-12 recommendation"><!-- for resistance-->
                      <div class="col-md-12 recommendation">
                        <h1 class="text-center">Resistance</h1>
                      </div>
                      <div class="col-md-12">
                        <p style="height:300px">content here</p>
                      </div>
                    </div>
                    <div class="col-md-4 col-xs-12 recommendation"><!-- for cardio -->
                      <div class="col-md-12 recommendation">
                        <h1 class="text-center">Cardio</h1>
                      </div>
                      <div class="col-md-12">
                        <p style="height:300px">content here</p>
                      </div>
                    </div>
                    <div class="col-md-4 col-xs-12 recommendation"><!-- for nutrition -->
                      <div class="col-md-12 recommendation">
                        <h1 class="text-center">Nutrition</h1>
                      </div>
                      <div class="col-md-12">
                        <p style="height:300px">content here</p>
                      </div>
                    </div>
                  </div>
                  <!-- end of third row -->
                </div>
              </div>
            </div>
            <!-- Recommendation END -->
        </div>
    </div>
    <!-- end of panel-body -->
</body>

</html>