.jumbotron {
	position: relative;
	background-color: transparent;
	margin-bottom: 10px;
}

.jumbotron .img {
	position: absolute;
	left:0; top:0;
	background-size: cover;
	height: 100%;
	width:100%;
	background-image: url('../images/best-personal-trainer-nj.jpg');
	opacity: 0.3;
	z-index: -1;

}

nav {
	background-color: lightgrey;
}

body {
	font-family: 'Allerta Stencil', sans-serif;
}

#panel-body {
	margin-bottom: 20px;
}

button {
	margin: 10px;
}

h1, h2 {
	font-family: 'Wallpoet', cursive;
	margin-bottom: 20px;
}

.recommendation {
	border: 2px outset;
}