.jumbotron {
	position: relative;
	background-color: transparent;
	margin-bottom: 10px;
}

.jumbotron .img {
	position: absolute;
	left:0; top:0;
	background-size: cover;
	height: 100%;
	width:100%;
	background-image: url('../images/best-personal-trainer-nj.jpg');
	/*background-image: url('../images/header.jpg');*/
	opacity: 0.2;
	z-index: -1;
}


nav {
	background-color: lightgrey;
}

nav button {
	margin: 20px;
	border-radius: 8px;
	border: none; 
}

button {
	/*margin: 10px;*/
	border-radius: 8px;
	border: none; 
}

#log-in-btn {
	background-color: blue;
}
#create-btn {
	background-color: orange;
}


body {
	font-family: 'Allerta Stencil', sans-serif;
}

#panel-body {
	margin-bottom: 20px;
}

#built-in-content {
	font-size: 24px;
}

h1, h2 {
	font-family: 'Wallpoet', cursive;
	margin-bottom: 20px;
}

.bmi-chart {
	background-color: orange; 
	height:350px;
}

.line-chart {
	background-color: skyblue; 
	height:350px;
}

.jumbotron h1 {
	text-shadow: 2px 2px #ff0000;
	color: orange;
}

.recBlock {
	border-style: double;
	border: 1px .5px 1px .5px;
}

.recTitle {
	border: 2px outset;
}

.recContent {
	margin-top: 15px;
	height: 280px;
}